

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f4f4f4;
}

nav {
    background-color: white;
    color: black;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a{
    text-decoration: none;
}

.header {
    background-color: #fff;
    position: sticky;
    width: 100%;
    z-index: 10;
    color: #000;
}


.hiperlinks-container {
    display: flex;
    margin-left: 10%;
}

.hiperlink {
    padding: 10px;
    font-size: 18px;
    letter-spacing: 2px;
    list-style-type: none;
}

.hiperlink a {
    text-decoration: none;
    color: #000;
    font-size: larger;
    padding: 15px 20px;
}

.hiperlink a:hover {
    color: #f3766d;
}

.hamburger-strips {
    display: none;
    width: 35px;
    height: 30px;
    margin: 10px 10px;
    position: relative;
    cursor: pointer;
}

.line {
    background-color: #454141;
    position: absolute;
    border-radius: 2px;
    width: 100%;
    height: 4px;
    transition-duration: 0.5s;
}

.strip-a {
    top: 0;
    left: 0;
}

.strip-b {
    top: 13px;
    left: 0;
    opacity: 1;
}

.strip-c {
    bottom: 0;
    left: 0;
}

.hamburger-strips.open .strip-a {
    transform: rotate(45deg);
    top: 13px;
}

.hamburger-strips.open .strip-b {
    opacity: 0;
}

.hamburger-strips.open .strip-c {
    transform: rotate(-45deg);
    top: 13px;
}

@media (max-width: 768px) {
    .navbar {
        justify-content: space-between;
        padding-left: 5px;
    }

    .hamburger-strips {
        display: inline-block;
    }

    .hiperlinks-container {
        display: none;
        margin-left: 0%;
        padding:0px;
    }

    .logo {
        font-size: 25px;
    }

    .hiperlinks-container {
        position: absolute;
        top: 60px;
        background-color: #fbf5f5;
        width: 80%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        left: -100%;
        transition: 0.6s ease-in-out;
        padding-top: 20px;
    }

    .hiperlink {
        margin: 20px;
    }

    .hiperlink a {
        font-size: 30px;
        font-size: larger;
    }

    .hamburger-strips.open + .hiperlinks-container {
        left: 0;
    }

    .heading {
        margin: 40% 10%;
    }
}

@media (max-width: 1024px) {
    .hiperlink a {
        font-size: 18px;
        padding: 0;
    }
}


.icon {
    font-weight: bolder;
    font-size: 25px;
    display: flex;
    gap: 15px;
    position: absolute;
    right: 0;
    margin-right: 3vw;
}

.icon img {
    width: 30px;
    height: 30px;
}

@media (max-width: 768px) {
    .menu-column {
    flex-direction: column;
    align-items: center;
    }
}




.top-content{
    width:100%;
    height:auto;
    padding-bottom: 5rem;
    background-image: linear-gradient(
        to right,
        rgb(241, 107, 199),
        rgb(235, 195, 64)
    );
    margin-top: -2rem;
}

.image-container {
    position: relative;
    width: 100%;
    max-width: 100%; 
    margin: 20px auto;
}

.image-container .image {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 8px;
}

.overlay-text {
    position: absolute;
    top: 39%;
    left: 27%;
    transform: translate(-50%, -50%);
    text-align: left;
    color: white;
    font-size: 16px;
    font-weight: bold;
    background-color: rgb(219, 104, 62);
    opacity: 0.7;
    padding:2rem;
    width:40%;
}


.middle-content{
    width:100%;
    height:100%;
    padding-bottom: 5rem;
    background-image: linear-gradient(
        to right,
        rgb(241, 107, 199),
        rgb(235, 195, 64)
    );
}

.banner-txt{
    color:white;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
}

.btn-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-order{
    border-radius: 100px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: rgba(255, 255, 255, 0.5); 
    border: none;
    color: #333;
    cursor: pointer;
    backdrop-filter: blur(10px);
}

.container {
    max-width: 1200px;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card {
    width: calc(30% - 20px);
    background-color: white;
    margin: 10px;
    padding: 20px;
    border-radius: 0px 40px 0px 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

.card img{
    height:300px;
    width:100%;
    max-width:100%;  
    border-radius: 0px 40px 0px 0px;      
    object-fit: cover; 
}


@media (max-width: 768px) {
    .card {
    width: calc(50% - 20px);
    }
    .overlay-text {
    font-size: 7px;
    left:32%;
    }
}

@media (max-width: 480px) {
    .card {
    width: 100%;
    }
}

.align-center{
    text-align: center;
}